# See http://help.github.com/ignore-files/ for more about ignoring files.

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]ebugAll/
[Dd]istAll/
obj/
bin/

# Tasks data
/MatHelper.API/wwwroot/Tasks

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vs/
.vscode/*
.vsidx
.suo
.wsuo
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Other files
*.sqlite
*.futdcache.v2

# System files
.DS_Store
Thumbs.db

# Secret data
.env
/data-protection-keys
.env.test
